<article class="blog-post">
    <h2 class="blog-post-title"><%= post.title %></h2>
    <p class="blog-post-meta"><%= datas(post.created_at) %> por <%= post.user.email %></p>

    <p><%= truncate(post.body, length: 200) %></p>

    <p><%= link_to 'Continue lendo...', post, class: 'btn btn-link' %></p>

    <%= link_to 'Editar', edit_post_path(post), class:"btn btn-primary" if policy(post).update? %>
    
    <%= link_to 'Deletar', post_path(post),
        method: :delete,
        data: { confirm: 'Você tem certeza?' },
        class: "btn btn-danger" if policy(post).update? %>
</article>